input,
.invalidfield,
.invalid-password-input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	width: 90%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	-webkit-appearance: none;
	outline: 0;
	background-color: transparent;
}

input {
	border-bottom: 2px solid #545454;
}

.invalidfield,
.invalid-password-input {
	border-bottom: 2px solid #e8665a;
}

input::placeholder,
input:valid {
	font-weight: bold;
	font-size: 15px;
	color: #777777;
}

input:focus::placeholder {
	color: transparent;
}

.input-wrapper input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100%;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	outline: 0;
	background-color: transparent;
}

.invalid-field .invalidfield {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100%;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	outline: 0;
	background-color: transparent;
}
