.select-input,
.select-input-invalid {
	display: block;
	height: 100%;
	width: 100%;
	border-bottom: 2px solid #545454 !important;
	outline: 0;
	position: relative;
	background-color: transparent;
	font-weight: bold;
	font-size: 15px;
	color: #777777;
	cursor: pointer;
}

.select-input-invalid {
	border-bottom: 2px solid #e8665a !important;
}

.arrow {
	transition: 0.5s;
	display: block;
	height: 100%;
	width: 20px;
	align-self: flex-end;
	outline: 0;
	position: absolute;
	background-color: transparent;
	background-image: url("./Resources/selectArrow.png");
	background-repeat: no-repeat;
	background-size: 20px 12px;
	background-position: 0 8px;
}

.arrow-clicked {
	transition: 0.5s;
	transform: rotate(180deg);
}

.select-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid #777777;
	position: absolute;
	z-index: 999;
	top: 25px;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	background-color: white;
}

.select-element {
	width: 100%;
	cursor: pointer;
	font-size: 15px;
	color: #777777;
}

.select-element:hover {
	background-color: #81d3f8;
}

.select-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	width: 90%;
}
