.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: #243743;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 50%;
    width: 82%;
    background-color: #2c4352;
}

.search-icon {
    height: 20px;
}

.search-user {
    height: 70%;
    width: 85%;
    border: 0;
    padding-left: 5px;
}

.focus  {
    background-color: white;
}

.search-user-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.user-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbf0d5;
}

.user-list-label {
    text-align: center;
    width: 100%;
    height: 25px;
    border-bottom: 2px solid #2c4352;
    color: #FAFAFA;
}