.box-container {
	display: flex;
	width: 80%;
	height: 80vh;
	margin-bottom: 20px;
	justify-content: space-between;
	flex-direction: row;
	align-self: center;
	align-items: center;
	background-color: #2c4352;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	overflow-y: auto;
	font-family: "Verdana";
}

.box-content {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.message-box {
	display: flex;
	width: 27%;
	height: inherit;
	flex-direction: column;
	align-items: center;
	background-color: #243743;
}

.box-main {
	background-color: white;
	width: 95%;
	height: 90%;
}

.box-label {
	line-height: 25px;
	height: 25px;
}

.message-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	border-bottom: 2px solid #2c4352;
	cursor: pointer;
	color: #fafafa;
}

.message-author {
	font-size: 12px;
}

.message-text {
	font-size: 10px;
}

.user-list-label {
	font-size: 15px;
}

.message-main {
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 78%;
	justify-content: space-evenly;
}

.message-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 5px;
}

.unread {
	background-color: #bbf0d5;
}

@media (max-width: 430px) {
	.box-container {
		display: none;
		width: 80%;
		height: 95%;
	}
}

.appeared {
	display: flex;
}
