ul {
	display: flex;
	list-style-type: none;
	margin-top: 0;
	justify-content: space-between;
	padding: 0;
}

li {
	display: inline;
}

.button {
	cursor: pointer;
	height: 50px;
	width: 80px;
	color: #777777;
	font-weight: bolder;
	font-size: 20px;
	outline-style: none;
	position: relative;
	display: inline-block;
	text-align: center;
}

.button:after {
	display: block;
	content: "";
	background-color: #07aa19;
	height: 3px;
	width: 0%;
	left: 50%;
	position: absolute;
	-webkit-transition: width 0.3s ease-in-out;
	-moz--transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.active:after,
.button:focus:after {
	width: 100%;
}

.submit-btn:hover,
.submit-btn:active {
	transition: 0.5s;
	background-color: rgb(74, 211, 143);
}

.cancel-submit-btn,
.submit-btn {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	font-weight: bold;
	font-size: 20px;
	outline: none;
	color: #777777;
	background-color: transparent;
	cursor: pointer;
	font-weight: 10;
	padding-right: 2%;
	padding-left: 2%;
	text-align: center;
	justify-content: center;
}

.submit-btn {
	border: 2px solid #6c9 !important;
}

.cancel-submit-btn {
	border: 2px solid rgb(252, 121, 104) !important;
}

.cancel-submit-btn:hover,
.cancel-submit-btn:active {
	transition: 0.5s;
	background-color: rgb(253, 91, 69);
}
