@font-face {
	font-family: "TechnicLite";
	src: url(./Resources/TechnicLite.ttf);
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: #66cccc;
}

#root {
	min-height: 100%;
}

.farmer-main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: auto;
	overflow-x: hidden;
}

.parent {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-top: 5%;
	background-color: #f4f3f3;
	font-family: TechnicLite;
}

.body-with-picture-container {
	background-image: url(./Resources/img2.jpg);
	background-size: cover;
	height: 250px;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
}

.menu-container {
	background-color: rgb(255, 255, 255, 0.7);
	height: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu {
	overflow: hidden;
	margin-left: 30%;
	display: flex;
	justify-content: space-around;
	font-size: x-large;
	align-items: center;
	height: 100%;
	width: 90%;
}

.menu-hidden {
	overflow: hidden;
	transition: 0.5s;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	font-size: small;
	margin: 0;
	margin-right: -100%;
}

.menu div {
	text-align: center;
	cursor: pointer;
}

.menu div a {
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

.menu div a:after {
	display: block;
	content: "";
	background-color: #07aa19;
	height: 3px;
	width: 0%;
	left: 50%;
	position: absolute;
	-webkit-transition: width 0.3s ease-in-out;
	-moz--transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.menu div a:hover:after,
.menu div a:focus:after {
	width: 100%;
}

.menu-checked {
	margin-top: 3px;
	border-bottom: #07aa19 3px solid;
}

.avatar-image-container {
	position: absolute;
	border: 0.8vh solid #f4f3f3;
	top: 180px;
	left: 15%;
	border-radius: 50%;
	overflow: hidden;
}

.avatar-image {
	border-radius: 50%;
	height: 220px;
	width: 220px;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .avatar-image:after {
	content: "";
	height: 50%;
	width: 100%;
	top: 100%;
	position: absolute;
	left: 0;
	background-color: rgba(21, 26, 30, 0.857);
	border-bottom-left-radius: 175px;
	border-bottom-right-radius: 175px;
	transition: 0.5s;
}*/

.avatar-image-container:hover .avatar-image:after,
.avatar-image-container:focus .avatar-image:after {
	animation: appearAnimBackground 0.5s;
	display: block;
	top: 50%;
}

@keyframes appearAnimText {
	0% {
		margin-top: 150%;
	}

	100% {
		margin-top: 50%;
	}
}

@keyframes disappearBurgerMenu {
	0% {
		margin-right: 0%;
	}

	100% {
		margin-right: -150%;
	}
}

@keyframes appearBurgerMenu {
	0% {
		margin-right: -100%;
	}

	100% {
		margin-right: 0%;
	}
}

.show-edit-image-block {
	font-family: "Verdana";
	background-color: rgba(21, 26, 30, 0.857);
	border-bottom-left-radius: 175px;
	border-bottom-right-radius: 175px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 50%;
	margin-top: 50%;
	animation: appearAnimText 0.2s;
}

.hide-edit-image-block {
	font-family: "Verdana";
	background-color: rgba(21, 26, 30, 0.857);
	border-bottom-left-radius: 175px;
	border-bottom-right-radius: 175px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 50%;
	margin-top: 150%;
	transition: 0.2s;
}

.farmer-profile-container {
	display: flex;
	flex-direction: column;
}

.information-container {
	margin-left: 20vw;
	display: flex;
	background-color: #f4f3f3;
}

.name-of-the-farmer {
	font-size: larger;
	font-weight: 400;
	text-align: center;
	font-family: "Verdana";
}

.farmers-address-container {
	margin-left: 3vw;
	font-weight: 200;
	font-size: larger;
	font-family: "Verdana";
}

.farmers-address-container img {
	width: 3vw;
	height: auto;
}

.achievements-container {
	display: flex;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	margin-left: 5%;
	width: 25%;
}

.progress {
	background-color: #33cc99;
	height: 100%;
	width: 90%;
	border-radius: 10px;
	overflow: hidden;
}

.value-progress {
	margin-left: 1vw;
	font-size: medium;
	align-items: center;
}

.followers-and-following-container {
	display: flex;
}

.followers {
	margin-left: 4.5vw;
	display: flex;
	font-size: medium;
	flex-direction: column;
}

.following {
	margin-left: 5.5vw;
	display: flex;
	font-size: medium;
	flex-direction: column;
}

.follow-count {
	margin-bottom: 0;
	text-align: center;
}

.follow-style {
	margin-top: 0;
}

.edit-image-block,
.show-image-block {
	text-align: center;
	color: #f4f3f3;
	height: 13px;
	font-size: 13px;
	cursor: pointer;
}

.edit-image-block:hover,
.show-image-block:hover {
	color: #ffffff;
}

.edit-image-block-icon,
.show-image-block-icon {
	fill: white;
	align-self: center;
}

.about-fermer-container {
	display: flex;
	justify-content: center;
	margin-left: 20%;
	margin-right: 20%;
	flex-direction: column;
	margin-bottom: 5%;
	margin-top: 5%;
}

.occupation-container {
	width: 80%;
	display: flex;
	border-bottom: 2px solid #cccc;
	justify-content: center;
	font-weight: bolder;
	font-size: large;
	padding-bottom: 2vh;
}

.occcupation {
	margin-left: 2vh;
}

.about-fermer {
	margin-top: 2vh;
	display: flex;
	justify-content: center;
}

.text-about-fermer {
	width: 90vh;
	font-size: large;
}

.border {
	width: 80%;
	align-self: center;
	border-bottom: 2px solid #cccc;
	margin-bottom: 25px;
}

.darken-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.6);
	z-index: 5;
	display: flex;
	justify-content: center;
}

#menu__toggle {
	display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}

/* #menu__toggle:checked ~ .menu {
	visibility: visible;
	left: 0;
} */

.burger-container {
	margin-right: 10px;
}

.menu__btn {
	display: flex;
	align-items: center;
	width: 20px;
	height: 20px;

	cursor: pointer;
	z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;

	width: inherit;
	height: 2px;

	background-color: #616161;

	transition-duration: 0.25s;
}
.menu__btn > span::before {
	content: "";
	top: -8px;
}
.menu__btn > span::after {
	content: "";
	top: 8px;
}

@media (max-width: 430px) {
	.farmer-main {
		padding: 0;
	}

	.parent {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.body-with-picture-container {
		height: 150px;
		flex-direction: column;
	}

	.menu {
		animation: appearBurgerMenu 0.3s;
		font-size: small;
		margin: 0;
	}

	.avatar-image-container {
		top: 90px;
		left: 15px;
		border-radius: 50%;
		overflow: hidden;
	}

	.avatar-image {
		height: 120px;
		width: 120px;
	}

	.information-container {
		margin-left: auto;
	}

	.empty-block {
		width: 25vh;
	}

	.name-of-the-farmer {
		font-size: medium;
	}

	.farmers-address-container {
		margin-left: 3vw;
		margin-right: 5vw;
		font-size: medium;
	}

	.farmers-address-container img {
		width: 3vh;
		height: auto;
	}

	.achievements-container {
		display: flex;
	}

	.progress-container {
		margin-left: 10%;
	}

	.progress {
		background-color: #33cc99;
		height: 100%;
		width: 80%;
		border-radius: 10px;
		overflow: hidden;
	}

	.value-progress {
		margin-left: 1vw;
		font-size: medium;
		align-items: center;
	}

	.occupation-container {
		width: 95%;
		font-size: small;
	}

	.progress-container {
		width: 170px;
		margin-left: 15px;
	}
}

@media (min-width: 430px) and (max-width: 800px) {
	.farmer-main {
		padding: 0;
	}

	.parent {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.body-with-picture-container {
		height: 150px;
		flex-direction: column;
	}

	.menu {
		animation: appearBurgerMenu 0.3s;
		font-size: small;
		margin: 0;
	}

	.avatar-image-container {
		top: 90px;
		left: 15px;
		border-radius: 50%;
		overflow: hidden;
	}

	.avatar-image {
		height: 120px;
		width: 120px;
	}

	.information-container {
		margin-left: auto;
	}

	.empty-block {
		width: 25vh;
	}

	.name-of-the-farmer {
		font-size: medium;
		margin-left: 15px;
	}

	.farmers-address-container {
		margin-left: 3vw;
		margin-right: 5vw;
		font-size: medium;
	}

	.farmers-address-container img {
		width: 3vh;
		height: auto;
	}

	.achievements-container {
		display: flex;
	}

	.progress-container {
		margin-left: 10%;
	}

	.progress {
		background-color: #33cc99;
		height: 100%;
		width: 80%;
		border-radius: 10px;
		overflow: hidden;
	}

	.value-progress {
		margin-left: 1vw;
		font-size: medium;
		align-items: center;
	}

	.occupation-container {
		width: 95%;
		font-size: small;
	}

	.progress-container {
		width: 170px;
		margin-left: 15px;
	}
}

@media (min-width: 800px) and (max-width: 1150px) {
	.body-with-picture-container {
		height: 200px;
	}

	.menu {
		font-size: medium;
	}

	.avatar-image-container {
		top: 160px;
		left: 12%;
		border-radius: 50%;
		overflow: hidden;
	}

	.avatar-image {
		height: 120px;
		width: 120px;
	}

	.name-of-the-farmer {
		font-size: medium;
	}

	.farmers-address-container {
		font-size: medium;
	}

	.achievements-container {
		display: flex;
	}
}

@media (min-width: 1150px) and (max-width: 1500px) {
	.avatar-image-container {
		top: 190px;
		left: 14%;
		border-radius: 50%;
		overflow: hidden;
	}

	.avatar-image {
		height: 180px;
		width: 180px;
	}
}
