.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-x: hidden;
}

.hf {
	width: 100%;
	height: 50px;
	background-color: #6c9;
}

.header {
	z-index: 9999;
}

.header-fixed {
	position: fixed;
	z-index: 0;
	justify-content: flex-end;
}

.bg {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	background-image: url(./Resources/bg.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
}

.greeting {
	display: flex;
	width: 400px;
	align-self: center;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.7);
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition-duration: 0.3s;
}

.greeting-open {
	margin-left: -50%;
	transition-duration: 0.3s;
}

.form-container {
	width: 88%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 50px 0 0 50px;
}

.hidden-panel-toggle {
	width: 12%;
	height: 20%;
	align-self: center;
	background-color: white;
	cursor: pointer;
	display: flex;
	opacity: 0.7;
	border-radius: 20px 0 0 20px;
}

.form-header {
	align-self: start;
	margin-left: 10%;
	font-weight: 10;
}

.title {
	border: 4px solid #444444;
	color: #444444;
	font-size: 30px;
	padding: 5px;
}

.double-arrow-rotated {
	transform: rotate(180deg);
}

.double-arrow,
.double-arrow-rotated {
	width: 90%;
	height: 80%;
	align-self: center;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.shown-panel,
.hidden-panel {
	position: absolute;
	right: 0;
	width: 35%;
	max-height: 600px;
	height: 70%;
	display: flex;
	flex-direction: row;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hidden-panel {
	right: -31%;
}

.hidden-panel-toggle {
	width: 12%;
	height: 20%;
	align-self: center;
	background-color: white;
	cursor: pointer;
	display: flex;
	opacity: 0.7;
	border-radius: 20px 0 0 20px;
}

.text {
	color: white;
	width: 90%;
	font-size: 2.3vmin;
}

.greeting-text {
	align-self: center;
	text-align: center;
	margin: 0;
}

.bd {
	background-color: white;
	opacity: 0.3;
	width: 97%;
	height: 95%;
	margin: auto;
	position: absolute;
}

.greeting-disappeared {
	display: none;
}

.aboutCompanyText {
	color: #444444;
	font-size: 1.8vmin;
	text-align: justify;
}

.aboutCompanyBlock {
	width: 80%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
}

.border-aboutcompany-text {
	width: 50%;
	align-self: center;
	border-bottom: 2px solid #cccc;
}

.catalog-container {
	align-self: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.catalog-container > button {
	font-weight: 10;
	padding-left: 10px;
	padding-right: 10px;
}

@media (max-width: 430px) {
	.main {
		height: 200vh;
	}
	.bg {
		flex-direction: column-reverse;
		justify-content: space-between;
		background-image: url(./Resources/bg.jpg);
		background-repeat: no-repeat;
		background-size: 230% 46%;
	}
	.greeting {
		margin-left: 0;
		margin-top: 20%;
		width: 315px;
		height: 315px;
	}

	.shown-panel,
	.hidden-panel {
		position: initial;
		width: 95%;
		height: 49%;
		min-width: 0;
		margin-right: 0;
		margin-bottom: 10%;
	}

	.form-container {
		width: 100%;
		height: 100%;
		border-radius: 25px 25px 25px 25px;
	}

	.form-header {
		margin-top: 5%;
		margin-right: 30%;
		font-weight: 10px;
	}

	.greeting-open {
		margin-right: 0;
	}

	.hidden-panel-toggle {
		display: none;
	}

	.title {
		font-size: 20px;
		padding: 5px;
	}

	.text {
		width: 90%;
		font-size: 18px;
	}

	.aboutCompanyBlock {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.aboutCompanyText {
		font-size: 3.2vmin;
	}
}

@media (min-width: 430px) and (max-width: 800px) {
	.main {
		height: 200vh;
	}
	.bg {
		flex-direction: column-reverse;
		justify-content: space-between;
		background-image: url(./Resources/bg.jpg);
		background-repeat: no-repeat;
		background-size: 230% 46%;
	}
	.greeting {
		margin-left: 0;
		margin-top: 10%;
	}

	.shown-panel,
	.hidden-panel {
		position: initial;
		width: 70%;
		height: 49%;
		min-width: 0;
		max-height: 100%;
		margin-right: 0;
		margin-bottom: 5px;
	}

	.form-container {
		width: 100%;
		height: 100%;
		border-radius: 10px 10px 10px 10px;
	}

	.form-header {
		margin-top: 5%;
		margin-right: 30%;
		font-weight: 10px;
	}

	.greeting-open {
		margin-right: 0;
	}

	.hidden-panel-toggle {
		display: none;
	}

	.title {
		font-size: 20px;
		padding: 5px;
	}

	.text {
		width: 90%;
		font-size: 18px;
	}

	.aboutCompanyBlock {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.aboutCompanyText {
		font-size: medium;
	}
}
