.BurgerMenu-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-left: 1px solid #777777;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777;
	position: absolute;
	z-index: 999;
	top: 50px;
	right: 0;
	width: 50%;
	min-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	background-color: #6c9;
}

.BurgerMenu-element {
	width: 100%;
	cursor: pointer;
	text-align: left;
	text-decoration: underline;
	font-size: 20px;
	color: white;
	margin-top: 10%;
	margin-left: 20%;
}

.BurgerMenu-element:hover {
	background-color: #81d3f8;
}

.BurgerMenu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 80px;
	float: right;
}

.BurgerMenu-icon {
	cursor: pointer;
	outline: 0;
}

.header-bar .BurgerMenu-container {
	display: none;
}

@media (max-width: 430px) {
	.header-bar .BurgerMenu-container {
		display: flex;
	}
}
