.drop-down-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border: 1px solid #777777;
	position: absolute;
	z-index: 9999999;
	top: 20px;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	background-color: white;
}

.DDL-element {
	width: 100%;
	cursor: pointer;
	font-size: 12px;
	color: #777777;
}

.DDL-element:hover {
	background-color: #81d3f8;
}

.DDL-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	width: 90%;
}

.DDL-input {
	width: 100%;
	height: 100%;
}

.DDL-input-inValid {
	width: 100%;
	height: 100%;
	color: #abb0ac;
	font-weight: bold;
	font-size: 15px;
	border-bottom: 2px solid #e8665a;
}

.DDL-input-blocked {
	width: 100%;
	height: 100%;
	color: #abb0ac;
	font-weight: bold;
	font-size: 15px;
	border-bottom: 2px solid #abb0ac;
}

.drop-down-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	border-radius: 10px;
}

.drop-down-list::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
}

.drop-down-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #66cc99;
}
