.dialog-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100%;
	min-height: 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.dialog-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #e6e9eb;
	border-bottom: 1px solid #d0d0d0;
	width: 100%;
	height: 10%;
}

.dialog-workspace {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #fafafa;
	width: 100%;
}

.dialog-messages-container {
	display: flex;
	flex-direction: column;
	height: calc(100% - 10% - 50px);
	max-height: 540px;
	width: 100%;
	overflow-y: auto;
	background-color: #e6e9eb;
}

.dialog-message-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 60%;
	margin: 5px;
	height: auto;
}

.opponent {
	align-self: flex-start;
}

.self {
	align-self: flex-end;
}

.self .dialog-message-text {
	background-color: #6c9;
}

.opponent .dialog-message-text {
	background-color: #fafafa;
	margin-left: 10px;
}

.send-icon {
	height: 25px;
	cursor: pointer;
}

.exit-icon {
	margin-right: 5px;
	height: 50%;
	cursor: pointer;
}

.smile-icon {
	height: 15px;
	cursor: pointer;
}

.attach-icon {
	height: 20px;
	cursor: pointer;
}

.dialog-message-text {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	max-width: 100%;
	word-break: break-word;
	min-height: 40px;
}

.opponent .dialog-message-text::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -5px;
	margin-left: -5px;
}

.self .dialog-message-text::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #6c9;
	border-right: 0;
	margin-top: -5px;
	margin-right: -5px;
}

.dialog-opponent {
	margin-left: 10px;
	color: black;
	font-family: "Verdana";
	font-size: 14px;
}

.send-icon:hover,
.exit-icon:hover,
.attach-icon:hover,
.smile-icon:hover {
	transition: 0.5s;
	filter: brightness(80%);
}

.dialog-workspace textarea {
	width: 65%;
	height: 25px;
	border: 0;
	background-color: #fafafa;
	padding-left: 10px;
	-webkit-appearance: none;
	outline: 0;
	resize: none;
	font-family: "Verdana";
	font-size: 12px;
}

textarea::placeholder {
	font-weight: bold;
	font-size: 15px;
	color: #777777;
}

.dialog-form {
	display: flex;
	width: 73%;
	height: 100%;
}

.dialog-messages-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
	background-color: #e6e9eb;
	border-radius: 10px;
}

.dialog-messages-container::-webkit-scrollbar {
	width: 5px;
	background-color: #e6e9eb;
}

.dialog-messages-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #66cc99;
}

.opponent-icon {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-left: 5px;
}

.opponent-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	color: #fafafa;
	background-color: #243743;
	overflow: hidden;
	animation: infoAppear 0.05s;
}

.opponent-name {
	font-size: 20px;
}

.opponent-country {
	font-size: 10px;
}

.opponent-base-info,
.opponent-phone,
.opponent-date-of-birth,
.opponent-email {
	text-align: center;
	border-bottom: 2px solid #2c4352;
	font-size: 12px;
	padding-bottom: 15px;
	width: 80%;
	margin: 30px;
}

.opponent-base-info {
	width: 100%;
}

@keyframes infoAppear {
	0% {
		width: 0%;
	}

	100% {
		width: 35%;
	}
}
