.login-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
	border-radius: 50px;
	z-index: 999;
}

.login-field-input {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 85%;
	height: 90%;
}

.login-field-disappeared {
	opacity: 0;
	display: none;
}

.login-field-appeared {
	animation: fadeIn 2s;
}

.login-icon {
	margin-top: 20px;
	width: 60px;
}

.input-wrapper {
	display: flex;
	align-items: center;
	width: 90%;
	height: 25px;
	border-bottom: 2px solid #545454;
}

.email-icon {
	height: 22px;
	width: initial;
	padding-right: 5px;
}

.password-icon {
	height: 21px;
	width: initial;
	padding-bottom: 1px;
	padding-right: 5px;
}

.invalid-field {
	display: flex;
	align-items: center;
	width: 90%;
	height: 25px;
	border-bottom: 2px solid #e8665a;
}

.preloader-log {
	display: none;
}

@media (max-width: 430px) {
	.login-field {
		width: 90%;
		height: 80%;
		margin-bottom: 10%;
		margin-top: 10%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
