.password-fields input {
	width: 40%;
}

.input-wrapper input {
	width: 100%;
}

.invalid-field .invalid-password-input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100%;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	outline: 0;
	background-color: transparent;
}
