.popup-body {
	border: 2px dashed rgb(118, 111, 111);
}

.popup-body-active {
	border: 2px dashed rgb(93, 180, 235);
}

.popup-body,
.popup-body-active {
	display: flex;
	min-width: 80%;
	min-height: 80%;
	height: auto;
	width: auto;
	align-self: center;
	border-radius: 15px;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	font-family: "Verdana";
	padding: 2%;
	margin-right: 2%;
	margin-left: 2%;
}

.crop-container {
	align-self: center;
}

.ReactCrop__image {
	max-width: 100%;
	height: auto;
}

.popup-container {
	z-index: 999999;
	display: flex;
	min-width: 42%;
	min-height: 35%;
	background-color: #f4f3f3;
	align-self: center;
	position: absolute;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 15px;
	padding-bottom: 3.7%;
	height: auto;
	width: auto;
	padding-left: 2%;
	padding-right: 2%;
	max-width: 700px;
	max-height: 700px;
}

.image-upload-img {
	height: 100px;
	width: 100px;
	align-self: center;
}

.img-dnd-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-weight: 200;
	font-size: 1vw;
	flex-direction: column;
}

.crop-buttons-container {
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-top: 2%;
}

.submit-btn {
	width: 40%;
}

.cancel-submit-btn {
	width: 40%;
}

.popup-container-header {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.popup-container-header > p {
	align-self: center;
	width: 100%;
	margin-left: 7%;
}

.close-popup-img {
	width: auto;
	height: 25px;
	margin-top: 3%;
	cursor: pointer;
}

.file-manualy-upload {
	cursor: pointer;
}

.react-dropzone {
	outline: 0;
	outline-offset: 0;
}
