.registration-field {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
	border-radius: 50px;
	z-index: 999;
}

@media (max-width: 430px) {
	.registration-field {
		width: 90%;
		height: 80%;
		margin-bottom: 10%;
		margin-top: 10%;
	}
}

.registration-field-input {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 85%;
	height: 90%;
}

.registration-field-appeared {
	display: flex;
	animation: fadeIn 2s;
}

.password-fields {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.affirmative-message {
	display: none;
	font-size: 18px;
	font-weight: bold;
	color: mediumseagreen;
}

.appeared {
	display: block;
}

.preloader-reg {
	display: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
